.front-menu{
  justify-content: center;
  .ant-menu-item-selected{
    color: white !important;
  }
  li{
    font-weight: bolder;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    margin: 20px !important;
  }
}