@font-face {
  font-family: "iconfont"; /* Project id 3104576 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1640827534219') format('woff2'),
       url('iconfont.woff?t=1640827534219') format('woff'),
       url('iconfont.ttf?t=1640827534219') format('truetype');
}

@font-face {
  font-family: 'DS-Digital-Bold';
  src: url('../font/babyground.ttf') format("truetype");
}

@font-face {
  font-family: 'setofont';
  src: url('../font/setofont.ttf') format("truetype");
}

@font-face {
  font-family: 'blackItalic';
  src: url('../font/blackItalic.ttf') format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cat:before {
  content: "\e601";
}

