.index {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

.index-body{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 100px;
}

.index-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.index-body-card{
  width: 50%;
  height: 140px;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  line-height: 140px;
  cursor: pointer;
  font-size: 40px;
  color: white;
  font-weight: bolder;
}

