.week {
  height: 100vh;
  font-family: SimHei;

  .node {
    font-size: 16px;
    letter-spacing: 3px;
  }

  .title {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    color: #f28585;
    padding: 10px 0;
    background-color: transparent;
  }
  a {
    color: #6e17b0;
  }
}

