.week {
  padding-bottom: 30px;
  font-family: SimHei;
  background-color: #FFE2E2;
  .node {
    font-size: 16px;
    letter-spacing: 3px;
  }

  .title {
    display: inline-block;
    margin-left: 20px;
    font-size: 20px;
    color: #f28585;
    padding: 10px 0;
    background-color: transparent;
  }
  a {
    color: #6e17b0;
  }
  .title-tab{
    padding: 0 20px;
    .ant-tabs-content-holder{
      border-left: none;
    }
  }
}

